<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7OjpaDZx57N08-tPPCC_hZ6NUZVWXh_I</string>
	<key>GCM_SENDER_ID</key>
	<string>167168465091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mindglow</string>
	<key>PROJECT_ID</key>
	<string>mindglow-5011b</string>
	<key>STORAGE_BUCKET</key>
	<string>mindglow-5011b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167168465091:ios:249e0eef72358c7313ea76</string>
</dict>
</plist>